body {
    background: #702632;
  }
  
  .sticker {
    padding-top: 20px;
    background: #ffffff;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #080705;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  
  .sticker .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    background: #080705;
    width: 100%;
  }

  .sticker .title {
    position: absolute;
    top: 1px;
    left: 20px;
    height: 10%;
    width: 60%;
    resize: none;
  }
  
  .sticker .mainText {
    position: absolute;
    height: 100%;
    padding: 3px 10px;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100px;
    background: transparent;
    border: none;
  }

  .deleteButton {
    background-image: url('trash2.png');
    border: none;
    position: absolute;
    top: 2px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}
  
  .sticker .bar:hover {
    cursor: move;
    background: #40434E;
  }
  
  .sticker:hover {
    z-index: 1;
  }
  